body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

input[type=text] {
    display: inline;
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 5px;
}

input[type=text]:focus {
    caret-color: transparent;
}

button {
    appearance: none;
    width: 200px;
    height: 60px;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 12px;
    border-style: none;
    box-shadow: 5px 5px 10px gray;
}

button:active {
    box-shadow: 2px 2px 5px gray;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.compTurn {
    background-color: lightgray;
}

.compWins {
    border-color: darkred;
    font: white;
    background-color: lightcoral;
}

.userWins {
    border-color: darkgreen;
    font: white;
    background-color: lightgreen;

}

#checkers {
    color: gray;
}

#gameSpace {
    display: grid;
    grid-template-rows: 100px 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
}

#wordsLeft {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}

#message {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    font-size: 36px;
}

#word {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-evenly;
}

#options {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#userPointsDiv {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

#compPointsDiv {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
